@import "~bootstrap/scss/bootstrap";
.option-container
{
    width:800px;
    padding:20px;
}

.checkbox-form {
    margin-left:25px;
}

.form-check-inline > input[type="radio"] {
    margin-top: 0.3rem;
}

.form-check-inline > Label {
    margin-right:0.6rem;
}
